@model List<Product>

@section title{
    <h3>Products</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Category?.Name</td>
                    <td>@product.Name </td>
                    <td>@product.Quantity</td>
                    <td>@product.Price €</td>
                    <td><a class="btn btn-link" asp-controller="products" asp-route-id="@product.ProductId" asp-action="edit">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="products" asp-route-id="@product.ProductId" asp-action="delete" onclick="return confirmDelete()">Delete</a></td>

                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary" asp-controller="products" asp-action="add">Add</a>



@section Scripts{
    <script>function confirmDelete() {
            return confirm("Are you sure you want to delete this product");
        }</script>
}